/*Nav Starts Here*/

nav
{
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);  
    width: 450px;
}

.navbar
{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

.navsection
{
    list-style-type: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.navbar a, .navbtn
{
    font-size: 14px;
    color: black;
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
    border: none;
    background-color: inherit;
    font-family: 'Nunito Sans', sans-serif;
}

.navbar a:hover
{
    font-weight: 400;
}

#NavSocials
{
    right: 0;
    display: block;
    position: fixed;
    margin-top: 20px;
    padding-right: 15px;
    margin-left: 68em;
}

#NavSocials a 
{
    display: block;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-top: 25px;
    padding-bottom: 10px;
}

.Socialsicon
{
    width: 2em;
    height: 2em;
    filter: brightness(0);
    transition: 0.3s;
}

.Socialsicon:hover
{
    filter: none;
    transition: 0.3s;
}

/*Nav Ends Here*/
/*Page Starts Here*/
body
{
    margin: 0; /* Body has a default margin of 8px */
    font-family: 'Nunito Sans', sans-serif;
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loading 
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
}
  
#loading-image 
{
    z-index: 100;
    width: 50px;
    height: 50px;
}

#fixedNav
{
    position: fixed;
    z-index: 2;
}

#NameHead
{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100px;
    z-index: 2;
    margin-top: -120px;
    margin-bottom: 20px;
}

#NameHead a
{
    text-decoration: none;
}

h1
{
    color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Karla', sans-serif;
}

#Container
{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 5em;
}

h2
{
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin-bottom: 1em;
}

form
{
    display: inline;
}

.textbubble input, .textbubble textarea
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-family: 'Nunito Sans', sans-serif;
    width: 20em;
    margin-bottom: 2em;
}

.textbubble textarea
{
    text-decoration: none;
    resize: none;
    height: 200px;
}

#BtnContainer
{
    text-align: center;
}

#SendBtn
{
    border: none;
    background-color: black;
    border-radius: 20px;
    padding: 1em;
    width: 8em;
    color: white;
}

#SendBtn a
{
    color: white;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

#SendBtn:hover
{
    opacity: 85%;
}

/*Page Ends Here*/
/*Footer Starts Here*/

footer
{
    margin-top: 5em;
    margin-bottom: 5em;
}

#FooterHr
{
    width: 70%;
    text-align: center;
    border: 0.5px solid #c4c4c47b;
}

#FooterText
{
    padding-top: 8px;
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    color: #c4c4c4;
}

#FooterSocials
{
    text-align: center;
}

.FSocialsicon
{
    width: 2em;
    height: 2em;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    opacity: 40%;
    filter: brightness(0);
    transition: 0.3s;
}

.FSocialsicon:hover
{
    filter: none;
    opacity: 100%;
    transition: 0.3s;
}

/*Footer Ends Here*/